/docker_work/notebook_container/iris-analysis.ipynb
/Capstone Project/1562014193_Capstone_FAQs_.pdf
/Capstone Project/1562015425_Capstone_Phase_1_Step_2__Project_Proposal_-_Google_Docs.pdf
/Capstone Project/1562015727_Capstone_Project_Guidelines_-_V1_MASTER_-_Google_Docs.pdf
/Capstone Project/1562015727_Capstone_Project_Guidelines_-_V1_MASTER_-_Google_Docs (1).pdf
/Capstone Project/1571271949_Guidelines_for_Cloud_Resources_-_MLE_Career_Track_-_V2.pdf
/Capstone Project/Capstone Project Ideas.gdoc
/Capstone Project/Capstone Project Proposal.gdoc
/Capstone Project/Capstone Project Rubric_ Entire Project.pdf
/Capstone Project/Data Collection Rubric.pdf
/local/**
